@import './reset.scss';
@import './variables.scss';

body {
  background: #fff;
  background: #f7f1e4 url(../../../assets/images/bg.jpg) repeat;
  color: #000;
  font: normal 18px/26px "Georgia",georgia,serif;
  cursor: default;
  height: 100%;
  text-align: justify;
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
}

a {
  color: $linkColor;
}

h3 {
  font-size: 1.189em;
  margin: 1.333em 20px 0.278em;
  font-weight: normal;
  color: #2c3041;
  font-style: italic;
  text-align: left;
}