@import "../base/variables.scss";

.node {
  &--type-issue#{&}--view-mode-teaser,
  &--type-ars-issue#{&}--view-mode-teaser,
  &--type-medicinae-issue#{&}--view-mode-teaser,
  &--type-medtrans-issue#{&}--view-mode-teaser {
    text-align: center;
    img, h4 {
      transition: transform 0.1s ease;
    }
    .field {
      &--name-field-issue-image {
        display: flex;
        height: 170px;
        align-items: center;
        justify-content: center;

        img {
          transform: scale(.87);
          border: solid 1px #f5f5f5;
          box-shadow: 0 4px 5px rgba(64,47,24,0.2);
        }
      }
    }
    h4 {
      line-height: 1;
      font-size: 1em;
      transform: scale(.9);
      z-index: 1000;
      position: relative;
      display: block;
      margin: 0 auto !important;
    }

    a {
      text-decoration: none;
      color: $darkGrey;
    }

    &:hover,
    &:focus-within {
      img, h4 {
        transform: scale(1);
      }
      a {
        color: $linkColor;
      }
    }
  }
}