body {
  background: #fff;
  background: #f7f1e4 url(../../images/bg.jpg) repeat;
  color: #000;
  font: normal 18px/26px "Georgia",georgia,serif;
  cursor: default;
  height: 100%;
  text-align: justify;
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
}